<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.androsz.andslr" android:sharedUserId="com.androsz.andslr"
	android:versionCode="1" android:versionName="1">

	<uses-feature android:name="android.hardware.usb.host" />

	<uses-sdk android:minSdkVersion="12" android:targetSdkVersion="12" />
	<application android:label="@string/app_name"
		android:debuggable="true" android:hardwareAccelerated="true">
		<activity android:name="@string/app_name"
			android:taskAffinity="" android:launchMode="singleInstance">
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->

			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
			</intent-filter>
			<meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/device_filter" />

		</activity>
	</application>
</manifest> 
